# lists can hold similar data

In [7]:

list1=[1,2,3,3,4,5,5,6,6,6,]
list1

[1, 2, 3, 3, 4, 5, 5, 6, 6, 6]

# lists can store data of differnt kinds

In [8]:
list2=[1,'a',5.6,"all"]
list2

[1, 'a', 5.6, 'all']

# lists are mutable

In [19]:
#like we can change and add new values
list2.append(100)
#the append method add the values at the end of the list
list2

[1, 'a', 5.6, 'all', 100, 100, 100]

In [22]:
#more then 1 values can be added 
list2.extend([120,130,'hy'])

#the extend method add more then 1 vlaues to the list
list2

[1, 'a', 5.6, 'all', 100, 100, 100, 120, 130, 'hy', 120, 130, 'hy']

# append will always try to add 1 item and extend will add multiple items

In [24]:
list1

[1, 2, 3, 3, 4, 5, 5, 6, 6, 6]

In [32]:
list1.append([1,2,3])

In [44]:
list1.pop()

6

In [46]:
list1.append([1,2,3])

In [47]:
list1

[1, 2, 3, 3, 4, 5, 5, 6, 6, [1, 2, 3]]

In [51]:
list1.extend("hellow")

In [52]:
list1

[1, 2, 3, 3, 4, 5, 5, 6, 6, [1, 2, 3], 'h', 'e', 'l', 'l', 'o', 'w']

# adding an element on desired location

In [57]:
#suppose im adding 100 between 5,5

list1.insert(6,'100')

#the insert function will help you add an element on your desired location

In [58]:
list1

[1,
 2,
 3,
 3,
 4,
 5,
 '100',
 '100',
 5,
 6,
 6,
 [1, 2, 3],
 'h',
 'e',
 'l',
 'l',
 'o',
 'w']

# now lets delete some elements

In [59]:
del list1[6]

In [60]:
list1

[1, 2, 3, 3, 4, 5, '100', 5, 6, 6, [1, 2, 3], 'h', 'e', 'l', 'l', 'o', 'w']

In [63]:
#lets delete the 'l'
del list1[-2]

In [64]:
list1

[1, 2, 3, 3, 4, 5, '100', 5, 6, 6, [1, 2, 3], 'h', 'e', 'l', 'o']

In [65]:
#lets delete the 'helo'

del list1[-4:]

In [66]:
list1

[1, 2, 3, 3, 4, 5, '100', 5, 6, 6, [1, 2, 3]]

In [67]:
#deleting the values in the braket [1,2,3]
del list1[-1]

In [68]:
list1

[1, 2, 3, 3, 4, 5, '100', 5, 6, 6]

# incase if we dont know the exact location of an element in the list we can delete it.

In [69]:
#lets delete the '100'
list1.remove("100")

In [70]:
list1

[1, 2, 3, 3, 4, 5, 5, 6, 6]

In [71]:
#pop will delete the last element in the list
list1.pop()

6

In [73]:
#cleaar() will empty the list
list1.clear()

In [74]:
list1

[]

# list operatiion

In [75]:
l1=[1,3,6]
l2=[2,5,7]
l1+l2

#list can be

[1, 3, 6, 2, 5, 7]

In [76]:
#list multilpiation

In [78]:
l1*3

#this multiplication means the number of list elemmnts ...like in our case the elemnts of l1 are written 3 times

[1, 3, 6, 1, 3, 6, 1, 3, 6]

In [81]:
#loops
l4=[1,2,3,4]
for i in l4:
    print(i)

1
2
3
4

In [84]:
#membership 
2 in l4

True

In [85]:
5 in l4

False

In [87]:
#functions
#the len function will return the number of elemnts in the list
len(l4)

4

In [88]:
#min/max
min(l4)

1

In [89]:
max(l4)

4

In [94]:
l4.sort(reverse=True)

In [95]:
l4

[4, 3, 2, 1]

# capitalizing the first character of every words in a sentence.

In [100]:
greetings="hy how are you?"
greetings.split()
for i in greetings.split():
    print(i.capitalize())

Hy
How
Are
You?

In [105]:
l1="this is my pen"
l1.split()
for i in l1.split():
    print(i.capitalize())

This
Is
My
Pen

# removing duplicate items from a list

In [4]:
l1=[1,1,1,2,3,3,4,4,5,5,6,5,6,6,]
l=[]
for i in l1:
    if i not in l:
        l.append(i)
print(l)

[1, 2, 3, 4, 5, 6]

In [23]:
l2=['a','b','n','n','g','h','h','r','r','b',]
l3=[]
for i in l2:
    if i not in l3:
        l3.append(i)
print(l3)

['a', 'b', 'n', 'g', 'h', 'r']